<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= User.find(group.admin).email %></td>
        <td>
          <% if user_signed_in? %>
            <% if group.admin != current_user.id %>
              <% if group.members.include? current_user.id %>
                <%= link_to 'Unsubscribe', unsubscribe_group_path(id: group.id) %>
              <% else %>
                <%= link_to 'Subscribe', subscribe_group_path(id: group.id) %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', group %></td>
        <% if user_signed_in? %>
            <% if current_user.id == group.admin %>
              <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Group', new_group_path %>
<% end %>